<% form_for @post do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :title, t('posts.title') %><br />
    <%= f.text_field :title %>
  </p>

  <p class="post_message">
    <%= f.label :intro, t('posts.intro') %> <br/>
    <%= f.text_area :intro %>
  </p>

  <p class="post_message">
    <%= f.label :body, t('posts.body') %> 
    <%= f.text_area :body %>
  </p>
  <div style="clear:both;"></div>

  <p class="active">
	  <%= f.check_box :active %>
	  <%= f.label :active, t('.active') %>
	</p>

  <p>
    <%= f.submit text, :class => 'submit' %>
  </p>
<% end %>
